<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <meta charset="UTF-5" />
</head>

<body>
    <div id="app"></div>
    <h2>JOKENPÔ GAME</h1>
        <div>
            <p>PARA JOGAR CLICK NA SUA ESCOLHA</p>
            <div class="selections">
                <button class="selection">👊</button>
                <button class="selection">✌️</button>
                <button class="selection">🫲</button>
            </div>
            <div class="results">
                <div>
                    YOU
                    <spa class="result-score">0</span>
                </div>

                <div>
                    COMPUTER
                    <span class="result-score">0</span>
                </div>
            </div>
        </div>
        <script src="./../helpers/pedra-papel-tesoura.js"></script>
</body>

</html>