* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  body {
    background: #eee;
    padding:  16px;
  }
  
  header {
    position: fixed;
    background-color: #f5ba13;
    left: 0px;
    right: 0;
    top: 0;
    padding: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  z-index: 10;
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 900;
    z-index: 10;
  }
  main{
    
  margin: 50px auto;
  padding: 1rem;
  
  }
  
  section{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 30%;
    justify-content: space-around;
  }
  
  aside, nav{
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    align-content: space-around;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 150px;
    background: #ccc;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @media screen and (max-width: 720px) {
      max-width: 80px;
    }
  }
  @media screen and (max-width: 920px) {
   aside{ 
    height: 100vh;
    width: 90px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
   }
  }
  article{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    min-width: 300px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.5rem;
    background-color:  #f5ba13;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer p, footer i {
    color: #ffffff;
    font-size: 2rem;
    display: flex;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }